node_modules
npm-debug.log
.expo
dist
android/build
ios/build
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
.eslintrc*
.prettierrc*
coverage
.nyc_output
.cache
.vscode
.idea
*.swp
*.swo
*~
