# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios/*
!/ios/kini/
/ios/kini/*
!/ios/kini/KiniNativeButtonManager.m
!/ios/kini/KiniNativeButtonManager.swift
!/ios/kini/KiniNativeButtonView.swift
!/ios/kini/KiniNativeBottomNavManager.m
!/ios/kini/KiniNativeBottomNavManager.swift
!/ios/kini/KiniNativeBottomNavView.swift
!/ios/kini/KiniNativeDatePickerManager.m
!/ios/kini/KiniNativeDatePickerManager.swift
!/ios/kini/KiniNativeDatePickerView.swift
!/ios/kini/KiniNativeGlassIconButtonManager.m
!/ios/kini/KiniNativeGlassIconButtonManager.swift
!/ios/kini/KiniNativeGlassIconButtonView.swift
!/ios/kini/KiniNativeOptionStackManager.m
!/ios/kini/KiniNativeOptionStackManager.swift
!/ios/kini/KiniNativeOptionStackView.swift
!/ios/kini/KiniNativePoolConfigButtonManager.m
!/ios/kini/KiniNativePoolConfigButtonManager.swift
!/ios/kini/KiniNativePoolConfigButtonView.swift
!/ios/kini/KiniNativeSelectManager.m
!/ios/kini/KiniNativeSelectManager.swift
!/ios/kini/KiniNativeSelectView.swift
!/ios/kini/KiniNativeSegmentedControlManager.m
!/ios/kini/KiniNativeSegmentedControlManager.swift
!/ios/kini/KiniNativeSegmentedControlView.swift
!/ios/kini/KiniNativeSelectionRowManager.m
!/ios/kini/KiniNativeSelectionRowManager.swift
!/ios/kini/KiniNativeSelectionRowView.swift
!/ios/kini/KiniNativeStepperManager.m
!/ios/kini/KiniNativeStepperManager.swift
!/ios/kini/KiniNativeStepperView.swift
!/ios/kini/KiniNativeSwitchManager.m
!/ios/kini/KiniNativeSwitchManager.swift
!/ios/kini/KiniNativeSwitchView.swift
!/ios/kini/KiniNativeToast.m
!/ios/kini/KiniNativeToast.swift
!/ios/kini.xcodeproj/
/ios/kini.xcodeproj/*
!/ios/kini.xcodeproj/project.pbxproj
/android/*
!/android/app/
/android/app/*
!/android/app/src/
/android/app/src/*
!/android/app/src/main/
/android/app/src/main/*
!/android/app/src/main/java/
/android/app/src/main/java/*
!/android/app/src/main/java/com/
/android/app/src/main/java/com/*
!/android/app/src/main/java/com/anonymous/
/android/app/src/main/java/com/anonymous/*
!/android/app/src/main/java/com/anonymous/kini/
/android/app/src/main/java/com/anonymous/kini/*
!/android/app/src/main/java/com/anonymous/kini/MainApplication.kt
!/android/app/src/main/java/com/anonymous/kini/nativecontrols/
!/android/app/src/main/java/com/anonymous/kini/nativecontrols/*.kt

# SonarQube
.scannerwork/
